<div role="navigation">
    <div class="container">
        <div class="navbar-header">

        </div>

        <!--<div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="main.home"><i class="fa fa-home"></i> Accueil</a>
                </li>
                <!--
                    <li ui-sref-active="active">
                    <a ui-sref="main.requests"><i class="fa fa-list"></i> Dernières requêtes</a>
                </li>
            </ul>
        </div>-->
    </div>
</div>
