
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector


.thumbnail {
  border: 0 none;
  box-shadow: none;
  background-color : transparent;
}

.pollenLevel {
  h3 {
    text-align: center;
  }
}

h1.pacifico {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  text-align : center;
}

h1 a {
  border-bottom : none;
  text-decoration: none;
  color : white;
}
h1 a:hover {
  border-bottom-color: transparent;
  color: #d15255 !important;
  text-decoration: none;
}

h1 a:link {
  text-decoration: none;
  color : white;
}

h1 a:active {
  text-decoration: none;
  color : white;
}

h1 a:visited {
  text-decoration: none;
  color : white;
}

img.levelVeryLow {
  -moz-box-shadow: 0px 0px 0px 0.7vw limegreen; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw limegreen; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw limegreen; /* CSS3 */
}

img.levelLow {
  -moz-box-shadow: 0px 0px 0px 0.7vw greenyellow; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw greenyellow; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw greenyellow; /* CSS3 */
}

img.levelMedium {
  -moz-box-shadow: 0px 0px 0px 0.7vw yellow; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw yellow; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw yellow; /* CSS3 */
}

img.levelHigh {
  -moz-box-shadow: 0px 0px 0px 0.7vw orange; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw orange; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw orange; /* CSS3 */
}

img.levelVeryHigh {
  -moz-box-shadow: 0px 0px 0px 0.7vw red; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw red; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw red; /* CSS3 */
}

img.levelDefault {
  -moz-box-shadow: 0px 0px 0px 0.7vw dimgray; /* Firefox */
  -webkit-box-shadow: 0px 0px 0px 0.7vw dimgray; /* Safari, Chrome */
  box-shadow: 0px 0px 0px 0.7vw dimgray; /* CSS3 */
}

.error-message {
  text-align: center;
}


.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.loading {
  text-align : center;
}

