<div class="container">
  <div class="konami" ng-show='home.konami'>
    <h2 >If you are reading this, you may be interested in my developer profile : <a href="www.matcornic.com">see my bio</a></h2>
    <a href="www.matcornic.com"><img src="../assets/images/allthethings.jpg"></a>
  </div>
  <form ng-submit='home.validForm()'>
    <div class="input-group input-group-lg">
      <input type="text" ng-keyup='home.keyUp()' ng-model='home.city' class="form-control" placeholder="Type a european city here" aria-describedby="sizing-addon1">
      <span class="input-group-btn">
          <button class="btn btn-danger" type="submit"><i  ng-show="!home.goloaded" class="fa fa-spinner fa-spin fa-1x"></i>Go!</button>
        </span>
    </div>
    <div class="error-message" ng-show="home.error.message">
      <span class="fa fa-frown-o"/> {{home.error.message}}
    </div>
    <div ng-show="!home.loaded" ><i  class="fa fa-spinner fa-spin fa-1x"></i></div>
    <ul ng-repeat="place in home.cities">
      <li><a ui-sref="main.locations({woeid: place.woeid})">{{place.name}} ({{place.admin1?place.admin1+", ":""}}{{place.country}})</a></li>
    </ul>
  </form>

</div>
