<div class="container">
  <form ng-submit='home.validForm()'>
    <div class="input-group input-group-lg">
      <input type="text" ng-keyup='home.keyUp()' ng-model='home.city' class="form-control" placeholder="Type a european city here" aria-describedby="sizing-addon1">
      <span class="input-group-btn">
          <button class="btn btn-danger" type="submit"><i  ng-show="!home.goloaded" class="fa fa-spinner fa-spin fa-1x"></i>Go!</button>
        </span>
    </div>
    <div ng-show="!home.loaded" ><i  class="fa fa-spinner fa-spin fa-1x"></i></div>
    <ul ng-repeat="place in home.cities">
      <li><a ui-sref="main.locations({woeid: place.woeid})">{{place.name}} ({{place.admin1?place.admin1+", ":""}}{{place.country}})</a></li>
    </ul>
  </form>

</div>
