<div class="container">
  <!--<h1 class="cookie">Pollen Checker</h1>
  <h1 class="dancing">Pollen Checker</h1>
  <h1 class="siteTitle">Pollen Checker</h1>-->
  <form ng-submit='home.validForm()'>
    <div class="input-group input-group-lg">
      <input type="text" ng-keyup='home.keyUp()' ng-model='home.city' class="form-control" placeholder="Type your city here" aria-describedby="sizing-addon1">
      <span class="input-group-btn">
          <button class="btn btn-danger" type="submit">Go!</button>
        </span>
    </div>
    <ul ng-repeat="place in home.cities">
      <li><a ui-sref="main.locations({woeid: place.woeid})">{{place.name}} ({{place.admin1}}, {{place.country}} )</a></li>
    </ul>
  </form>

</div>
